<h1>Le but de ce site</h1>
<h2>Le code du Travail ne dit pas tout</h2>
<p>Les employeurs et les salariés ne parviennent pas toujours à gérer leurs conflicts au regard de la loi qui le les a pas prévus. C'est que, la loi n'est pas faite pour les cas particuliers.</p>

<h2>Nous mettons en ligne</h2>
<p>- les arrêts publiés de la chambre sociale de la Cour de cassation, à compter du mois de janvier 2000
<br>
<br>
- des arrêtes publiés de la chambre sociale de la Cour de cassation, avant le mois de janvier 200</p>
