<!-- <div class="navbar-home">
  <a class="navbar-home-brand" href="/">
    <img src="/assets/logo.png" alt="Logo">
</a>  <!-- Right Navigation -->



<div class="navbar-home">
  <!-- Logo -->
  <a href="/" class="navbar-home-brand">
    <img src="/assets/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-home-right hidden-xs hidden-sm">
    <a href="/welcome" class="navbar-home-item navbar-home-link">Bienvenue, Lecteur !</a>
    <a href="/about" class="navbar-home-item navbar-home-link">Le Projet</a>
    <a href="" class="navbar-home-item navbar-home-link">Recherche par Thème</a>
      <a href="" class="navbar-home-item navbar-home-link">Votre Bibliothèque</a>
  </div>
</div>

<!-- <div class="home-banner">
    <h1>Employeurs, employés ou entrepreneurs, vous avez un questionnement au travail, qui concerne un</h1>
    <h1 class="typewrite" data-period="2000" data-type='[ "contrat", "licenciement", "harcèlement"]'>
    <span class="wrap"></span></h1>
</div>

 -->

