<h1>Edito</h1>
<p>Vous êtes employeurs, salarié ou juriste
<br>
<br>
Vous êtes confrontés à des situations auxquelles le droit du travail est censé apporter une solution.
Dans bien des cas, vous ne savez pas ce que vous devez faire. 
<br>
Si les réponses à vos questions ne figurent ni dans le code du travail ni dans une convention collective, elles figurent, peut-être, dans un arrêt de la chambre sociale de la Cour de Cassation rendu il y a quelques jours, quelques mois ou quelques années. 
<br>
<br>
Maître Régis Cusinberche
</p>
