<!DOCTYPE html>
<html>
  <head>
    <title>Droit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <!--  tout ce qui est inclu ici sera présent dans toutes les pages
    ex si tu fais un h1 il va apparaitre partout -->
    <%= yield %>
  </body>
</html>
